<%= render 'shared/errors',obj: @article %>
<div class= "row">
<div class= "col-xs-12">
<%= form_for(@article, :html=> {class: "form-horizontal",role: "form"}) do |g|   %>
  <div class="form-group">
  <div class= "control-label col-sm-2">
  <%= g.label :Title %>
  </div>
  <div class="col-sm-7">
  <%= g.text_field :Title,class:"form-control",placeholder:"title of the article",autofocus: true %>
  </div>
  </div>
  <div class="form-group">
    <div class="control-label col-sm-2 ">
    <%= g.label :Description %>
    </div>
    <div class="col-sm-7">
    <%= g.text_area :Description,rows: 8,class: "form-control",placeholder: "body of the article" %>
    </div>
  </div>
  <div class= "form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= g.submit class:"btn btn-default btn-lg" %>
  </div>
  </div>
  <% end%>
  <div class="col-xs-offset-4 col-xs-4">
    [ <%= link_to 'cancel the request and return to articles page', articles_path %> ]
  </div>
</div>
</div>