<h3> The list of Articles are</h3>
<p>
   <%= link_to 'create a new article',new_article_path %>
</p>
<table>
  <tr>
    <td> Title</td><br/>
    <td> Description</td>
    
  </tr>
  
  <% @articles.each do |article| %>
  <tr>
    <td><%= article.Title %></td>
  <td><%= article.Description %></td>
  <td> <%= link_to 'edit', edit_article_path(article) %> | </td>
  <td> <%= link_to 'show' , article_path(article) %></td>
  </tr>
  <% end %>
</table>