<%= render 'shared/errors',obj: @user %>
<div class= "row">
<div class= "col-xs-12">
<%= form_for(@user, :html=> {class: "form-horizontal",role: "form"}) do |g|   %>
  <div class="form-group">
  <div class= "control-label col-sm-2">
  <%= g.label :username %>
  </div>
  <div class="col-sm-7">
  <%= g.text_field :username,class:"form-control",placeholder:"enter username",autofocus: true %>
  </div>
  </div>
  <div class="form-group">
    <div class="control-label col-sm-2 ">
    <%= g.label :email %>
    </div>
    <div class="col-sm-7">
    <%= g.email_field :email,rows: 8,class: "form-control",placeholder: "enter email" %>
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-sm-2 ">
    <%= g.label :password %>
    </div>
    <div class="col-sm-7">
    <%= g.password_field :password,class: "form-control",placeholder: "enter password" %>
    </div>
  </div>
  <div class= "form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= g.submit(@user.new_record? ? "signup" : "update account",class:"btn btn-default btn-lg") %>
  </div>
  </div>
  <% end%>
  <div class="col-xs-offset-4 col-xs-4">
    [ <%= link_to 'cancel the request and return to articles page', articles_path %> ]
  </div>
</div>
</div>